<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/register.css">
    <title>Document</title>
</head>
<body>
    <script>
        let doSubmit =  async () => {
            let id = ""; <% if(users._id){ %> id = "<%= users._id %>";<% } %>;
            let username = document.getElementById('username').value;
            let password = document.getElementById('password').value;
            let firstName = document.getElementById('firstname').value;
            let lastName = document.getElementById('lastname').value;
            let day = document.getElementById('select-day').value;
            let mounth = document.getElementById('select-mounth').value;
            let year = document.getElementById('select-year').value;
            let country = document.getElementById('select-country').value;
            let data = {id, username, password, firstName, lastName, day, mounth, year, country };
            let response = await fetch('/api/v1/users', {
               method: '<%= method %>', // or 'PUT'
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
                })
                .then((response) => response.json())
                .then((data) => {
                    // console.log('Success:', data);
                    return data;
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
                
                if(response.status == 'ok'){
                    location = '/users_table';
                };
                
        }
    </script>
    
    <div id="header-div">
        <h2>Sing up</h2>
    </div>
    <div id="reg-div">
        <label for="username">Username: </label>
        <input type="text" name="username" id="username" placeholder="Username" value="<%= users.username %>"><br><br>

        <label for="password">Password: </label>
        <input type="password" name="password" id="password" placeholder="Password" value="<%= users.password %>"><br><br>

        <label for="fisrt-name">First name: </label>
        <input type="text" id="firstname" placeholder="John" value="<%= users.firstname %>"><br><br>

        <label for="last-name">First name: </label>
        <input type="text" id="lastname" placeholder="Doe" value="<%= users.lastname %>"><br><br>

        <select id="select-day">
            <option>Day</option>
            <% for(let i = 0; i < day.length; i++) { %>
            <option id="day" value="<%users.day%>"><%= day[i].day %></option>
            <% } %>
        </select>
        <select id="select-mounth">
            <option>Mounth</option>
            <% for(let i = 0; i < mounth.length; i++) {%>
            
            <option id="mounth" value="<%= users.mounth %>"> <%= mounth[i].mounth %></option>
            <% } %>
        </select>
        <select id="select-year">
            <option>Year</option>
            <% for(let i = 0; i < year.length; i++) { %>
            <option id="year" value="<%=users.year %>"><%= year[i].year %></option>
            <% } %>
        </select><br><br>

        <select id="select-country">
            <option >Select country</option>
            <% for(let i = 0; i < country.length; i++) { %>
                <option id="country" value="<%= users.country %>"><%= country[i].text %></option>
            <% } %>
        </select><br><br>

        <div id="btns">
            <input id="btn1" value="<%= buttonName %>" type="button" onclick="doSubmit()">
            <input id="btn2" value="Cancel" type="button" onclick="location='/'">
        </div>
    </div>
</body>
</html>