<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/register.css">
    <title>Document</title>
</head>
<body>
    <script>
        
        // let usernameInput = () => {
        //     let username = document.getElementById('username');
        //     if(username == ''){
        //         alert('Username is empty');
        //         return false;
        //     }else{
        //         return;
        //     };
        // };
        // //document.getElementById('username') = usernameInput();
        // usernameInput();

        // let passwordInput = () => {
        //     let password = document.getElementById('password');
        //     if(password == ''){
        //         alert('Password is empty');
        //         return false;
        //     }else{
        //         return;
        //     }
        // };
        // //document.getElementById('password').value = passwordInput();

        // let fisrtnameInput = () => {
        //     let firstName = document.getElementById('firstname');
        //     if(firstName == ''){
        //         alert('Fisrt name is empty');
        //         return false;
        //     }else{
        //         return;
        //     };
        // };
        // //document.getElementById('firstname').value = fisrtnameInput();

        // let lastnameInput = () => {
        //     let lastName = document.getElementById('lastname');
        //     if(lastName == ''){
        //         alert('Last name is empty');
        //         return false;
        //     }else{
        //         return;
        //     };
        // };
        // //document.getElementById('lastname').value = lastnameInput();

      
      

        let doSubmit =  async () => {
            //let id = ""; <% if(users._id){ %> id = "<%= users._id %>";<% } %>;
            let username = document.getElementById('username').value;
            let password = document.getElementById('password').value;
            let firstName = document.getElementById('firstname').value;
            let lastName = document.getElementById('lastname').value;
            let day = document.getElementById('select-day').innerText;
            let mounth = document.getElementById('mounth').innerText;
            let year = document.getElementById('year').value;
            let country = document.getElementById('country').value;
            let data = { username, password, firstName, lastName, day, mounth, year, country };
            let response = await fetch('/api/v1/users', {
               method: 'POST', // or 'PUT'
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
                })
                .then((response) => response.json())
                .then((data) => {
                    // console.log('Success:', data);
                    return data;
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
                
                if(response.status == 'ok'){
                    location = '/users_table';
                };
                
                data.forEach(element => {
                    if(element.length == ''){
                        alert('error');
                        return false;
                    }else{
                        return true;
                    };
                });
        };
        
    </script>
    
    <div id="header-div">
        <h2>Sing up</h2>
    </div>
    <div id="reg-div" >
        <label for="username">Username: </label>
        <input type="text" name="username" id="username" placeholder="Username" value="<%= users.username %>" ><br><br>

        <label for="password">Password: </label>
        <input type="password" name="password" id="password" placeholder="Password" value="<%= users.password %>" ><br><br>

        <label for="Fisrt name">First name: </label>
        <input id="firstname" placeholder="John" value="<%= users.firstname %>" ><br><br>

        <label for="last name">Last name: </label>
        <input id="lastname" placeholder="Doe" value="<%= users.lastname %>" ><br><br>

        <select id="select-day">
            <option disabled selected>Day</option>
            <% day.forEach(function(day) { %>
                <option id="day" type="text" value="<%= users.day%>"><%= day.day %></option>
            <% }) %>
        </select>
        <select id="select-mounth" >
            <option disabled selected>Mounth</option>
            <% mounth.forEach(function(mounth) { %>
                <option id="mounth" type="text" value="<%= users.mounth %>"> <%= mounth.mounth %></option>
            <% }) %>
        </select>
        <select id="select-year" type="text">
            <option disabled selected>Year</option>
            
           <% year.forEach(function(year) { %>
            <option><%= year.year %></option>
          <% }) %>
        </select><br><br>

      

        <select id="country" type="text">
            <option value="<%=users.country %>" disabled selected>Select Country</option>
            <% country.forEach(function(country) { %>
                <option><%= country.text %></option>
            <% }) %>
        </select><br><br>

        <div id="btns">
            <input id="btn1" value="<%= buttonName %>" type="button" onclick="doSubmit()">
            <input id="btn1" value="Cancel" type="button" onclick="location='/'">
        </div>
    </div>
</body>
</html>