<!DOCTYPE html>
<html lang="en"></html>
<html>
  <head>
  
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <button onclick="location='/users_table'"> Users Table</button>&nbsp;|&nbsp; 
    <button onclick="location='/login'"> Logout</button>&nbsp;|&nbsp; 
    <hr/><br/>
<script>
const doEdit =  (id)=>{
  
        location = '/store_table/edit/'+id;
      }

  const doDelete = async (id) => {å
    await fetch('/api/v1/store', {
        method: 'DELEtE', // or 'PUT'
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({id}),
      })
        .then((response) => response.json())
        .then((data) => {
          // console.log('Success:', data);
        })
        .catch((error) => {
          console.error('Error:', error);
        });
        location='/store_table'
  }
</script>
<div>
  <a href="/sing_up">back</a><br><br>
</div>
    <div class="page-data">
        <div class="data-table">
           <table border="1" cellpadding="7" cellspacing="7">
               <tr>
                   <th width="20px">No</th>
                   <th width="250px">Band name</th>
                   <th width="220px">Origin</th>
                   <th width="100px">Items</th>
                   <th width="300px">Price</th>
                   <th width="300px">Ordered items</th>
                   <th>Edit</th>
                   <th>Delete</th>
               </tr>
               <% if(data.length){for(var i = 0;i < data.length;i++) { %>       
               <tr>
                   <td><%=data[i].id%></td>
                   <td><%=data[i].name%></td>
                   <td><%=data[i].origin%></td>
                   <td><%=data[i].items%></td>
                   <td><%=data[i].price%></td>
                   <td><%=data[i].quantity%></td>
                   <td><button onclick="doEdit('<%=data[i].id%>');" >Edit</button></td>
                   <td><button onclick="doDelete('<%=data[i].id %>');">Delete</button></td>
               </tr>
           <% }
            }else{ %>
                <tr>
                   <td colspan="7">No user found</td>
                </tr>
           <% } %> 
           </table>
        </div>
       </div>

  </body>
</html>